.fractal canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.fractal.split canvas {
  display: block !important;
  width: 50vw;
}
.fractal canvas#julia {
  display: none;
  left: unset;
  right: 0;
}
