.fractal {
  position: fixed;
  top:    0;
  left:   0;

  canvas {
    position: fixed;
    top:    0;
    left:   0;
    width:  100vw;
    height: 100vh;
  }
  &.split canvas {
    display: block !important;
    width:   50vw;
  }
  canvas#julia {
    display: none;
    left:    unset;
    right:   0;
  }
}
.fractal .controls {
  display:  flex;
  position: fixed;
  bottom: 0;
  width:  100%;
  //height: 2em;
  margin: auto;
  justify-content: center;

  select {
    text-align: center;
    padding: 0.25em;
    margin:  0.5em;
  }
}

